# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# vim
*.swp

# keil
arm/JLinkLog.txt
arm/JLinkSettings.ini
arm/_build/
arm/*.vegarwe
arm/*.dep
arm/output.txt
arm/app.uvoptx

tmp/
